# Local state stuff
/eshell
/image-dired
/irony
/private
/recentf
/semanticdb
/smex-items
/tramp

# Local unmanaged stuff
/bundles

# Locally built products
/elpa

# Unimportant local stuff
/.custom.el

# Stuff that currently appears to be local
